

#navbar {
  margin-bottom: 44px;
}

.navbar .container{
    width: 101% !important;
}

.navbar {
    margin-bottom: 0 !important;
    min-height: 0 !important;
}
 
.navbar ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}
 
.navbar li {
  display: inline-block;
  border-bottom: 3px solid transparent; 
  color: #333; 
  position: relative; 
}

.navbar li a{ padding-top:10px;}

.in ul {
  display: table;
  table-layout: fixed; /* optional */
}

.in ul li {
  display: block;
  text-align: left;
}
.ul li a{ font-size: 1.4em; line-height: 1.4em;}

.navbar-toggle {margin-bottom:0 !important; 
               
               border-color: #ddd !important;
               padding:6px !important;
}

.icon-bar{ background:white !important;}
 
.navbar a {
  display: block;
  width: 100%;
  padding: 0px 5px;
  text-decoration: none !important;
  color: #939393;
  white-space: nowrap; 
}

.navbar li:hover {
  color: #666; 
} 

.navbar li a:hover{
    color: #DB8A23 !important;
}
 
.navbar li.selected-parent, 
.navbar li.is-parent, 
.navbar li.selected {
  color: red !important; 
  border-color: #DB8A23;
}

.user-dropdown-menu li>a{
    width: 300px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logo{
    font-size: 22px;
    font-weight: 300;
}

.logo:hover{
    color: #999;
}

/* Just to sho off how class works 
.navbar li .italic {
  font-style: italic;
}*/