.uvtron{
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.uvtron h2{
    padding: 0px 20px; 
    color: #444;
}

.uvtron p{
    color: #555;
    font-size: 1.1em;
}

.form-group{
    padding: 0 15px;
}

.writtenby{
    padding: 5px;
    padding-top: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 
.reply{
        padding: 0px 28px 10px;
        background: #eee;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        border-radius: 5px;
        margin: 0 1px;
    }
 
.reply-text{  }
    
.addcomment{
    margin-left: 5px;
    margin-bottom: 5px;
    color:#aaa;
    padding: 3px 8px;
    display: inline-block;
}

.addcomment:hover{
    background: #eee;
    cursor: pointer;
    border-radius: 3px;
}


.mypanel{ height: auto;}

.comment-field-div{ 
	overflow: hidden; 
	max-height: 0;
	transition: max-height 0.4s ease;
}

.display-field{ 
	max-height: 500px;
        transition: max-height 0.4s ease;
}

.replyinfo{background: #eee; border-radius: 5px; padding: 10px; padding-bottom: 5px; margin-top: 10px; }
.gravatar{ border-radius: 3px; margin-bottom: 5px;}

.comment-by{
    font-size: 0.8em; color: #aaa; 
}


